<footer>
    <div class="footer-content">
        <h3>Weather Forecast</h3>
        <p>We provide most accurate information</p>
        <ul class="socials">
            <li>Youtube</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Wikipedia</li>
        </ul>
    </div>

    <div class="footer-bottom">
        <p>copyright &copy;2020 weather. designed by {{name}}</p>
    </div>
</footer>